@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --fontsize: 2vw;
    --fontsizeCel: 5vw;
    --color-AirBlue: #7D99B2;
    --color-Pear: #C2E150;
    --color-Black: #000000;
    --color-White: #FFFFFF;
}

body {
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    background-color: #000000;
}

.container-fluid {
    background-color: #000000;
    color: #FFFFFF;
    overflow: hidden;
    font-family: "Nunito", light;
}

.custom-show {
    display: block !important;
}

.custom-hide {
    display: none !important;
}


/* ////////////////////////////////////////////////////////////////////////////// */

.banner {
    text-align: center;
}

.banner img {
    width: 10vw;
}

#drs-icon {
    width: 1.5vw;
}

#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #000000;
    z-index: 1000;
    width: 100%;
    height: 4vh;
}

#footer a {
    text-decoration: none;
    color: #7D99B2;
}

.menuHeader {
    display: flex;
    color: #7D99B2;
    list-style: none;
    justify-content: center;
}

header ul a {
    text-decoration: none;
    padding-right: 20px;
    color: #C2E150;
}

/* ////////////////////////////////////////////////////////////////////////////// */


.page_1 {
    background-color: #000000;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.page_1 a {
    text-decoration: none;
}

.card-welcome {
    box-shadow: 2px 2px 1px #7D99B2;
    background-color: #C2E150;
    border-radius: 20px;
    color: #000000;
    height: 20vh;
    width: 20vw;
    cursor: pointer;
    transform: translateY(20vh);
}

.card-welcome:active {
    box-shadow: 0 0 0px #7D99B2;
    /* Reducir sombra al hacer clic */
    transform: translate(.2vw, 21vh);
}

#agenda-design {
    width: 5vw;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////*/

.page_2 {
    background-color: #000000;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-login {
    height: 20vh;
    width: 20vw;
    transform: translateY(10vh);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////*/

.page_3 {
    background-color: #000000;
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-register {
    height: 20vh;
    width: 20vw;
    transform: translateY(00vh);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////*/

.page_4 {
    background-color: #000000;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dashboard-menu a {
    text-decoration: none;
}

.dashboard-menu div {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right, #C2E150, #506017);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    border-radius: 20px;
    color: #000000;
    width: 20vw;
    cursor: pointer;
    transform: translateY(0vh);
    margin-bottom: 2vw;
}

.dashboard-menu div h1 {
    font-size: 2vw;
    margin-top: 5px;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.page_5 {
    background-color: #000000;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.page_5 table {
    text-align: center;
    box-shadow: -2px 2px 2px #7D99B2;
    background-color: #C2E150;
    border-radius: 20px;
    color: #000000;
}

.page_5 table thead tr th {
    text-align: center;
}

.page_5 h1 {
    text-align: center;
    font-size: 2vw;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */


.form1 {
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form1 div {
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

#disp-horaria {
    text-align: center;
    box-shadow: -2px 2px 2px #7D99B2;
    background-color: #C2E150;
    border-radius: 20px;
    color: #000000;
    width: 50vw;
}

#disp-horaria-todas {
    text-align: center;
    box-shadow: -2px 2px 2px white;
    margin-top: 7px;
    margin-left: 5px;
    background-color: #7D99B2;
    color: #000000;
    margin-bottom: 1vw;
}

#disp-horaria-todas td select {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.form1 table td select {
    display: inline-block;
    margin-right: 5px;
}

.form1 table thead tr th {
    text-align: center;
}

.tituloPagina {
    text-align: center;
    font-size: 2vw;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */

.dashboard-menu-turnos a {
    text-decoration: none;
}

.dashboard-menu-turnos div {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right, #7D99B2, #2d72ad);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    border-radius: 20px;
    color: #000000;
    width: 20vw;
    cursor: pointer;
    transform: translateY(0vh);
    margin-bottom: 2vw;
}

.dashboard-menu-turnos div h1 {
    font-size: 2vw;
    margin-top: 5px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */


#turnos-hoy th {
    text-align: center;
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */

.darturnospage {
    height: 50vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.darturnospage div {
    margin-bottom: 1vw;
}

.input-text {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.card-link {
    padding: 1vw;
    height: 10vh;
    width: 20vw;
    text-align: center;
    box-shadow: -2px 2px 2px #7D99B2;
    background-color: #C2E150;
    border-radius: 20px;
    color: #000000;
}


.Page_10 {
    height: 70vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.turnosForm {
    margin-top: -10vh;
}

/* /////////////////////////////////////////////////////////////////////////// */

.LinkCaducado {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.createClienteTurno {
    height: 70vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* CODIGO NUEVO /////////////////////////////////////////////////////////////////////////////////////*/
.turnoslist {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.turnos-list {
    text-align: center;
}

.message {
    font-size: var(--fontsize);
    transform: translateY(20vh);
    text-align: center;
}

.turnos-delete {
    text-align: center;
}

.modificarTurnos {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
}


#deleteModal .modal-content {
    background-color: var(--color-Black);
    color: var(--color-Pear);
}

#deleteModal .modal-header {
    background-color: var(--color-Black);
    color: var(--color-Pear);
}

#deleteModal .btn-close {
    filter: invert(100%);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.page_empresa {
    background-color: #000000;
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.empresa-menu a {
    text-decoration: none;
}

.empresa-menu a div {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right, #C2E150, #506017);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    border-radius: 20px;
    color: #000000;
    width: 20vw;
    cursor: pointer;
    transform: translateY(0vh);
    margin-bottom: 2vw;
}

.empresa-menu div h1 {
    font-size: 2vw;
    margin-top: 5px;
}

.formEmpresa {
    background-color: #000000;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.empresaImgMenu{
    width: 100px;
    margin-bottom: 15px;
}



#deleteEmpresa .modal-content {
    background-color: var(--color-Black);
    color: var(--color-Pear);
}

#deleteEmpresa .modal-header {
    background-color: var(--color-Black);
    color: var(--color-Pear);
}

#deleteEmpresa .btn-close {
    filter: invert(100%);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */


.page_trabajadores {
    background-color: #000000;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.trabajadores-menu a {
    text-decoration: none;
}

.trabajadores-menu a div {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right, #7D99B2, #2d72ad);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    border-radius: 20px;
    color: #000000;
    width: 20vw;
    cursor: pointer;
    transform: translateY(0vh);
    margin-bottom: 1vw;
}

.trabajadores-menu button{
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: 10px;
}

.lineTrabajador {
    display: flex;
    align-items: center;
}

.lineTrabajador a {
    text-decoration: none; 
}

.trabajadores-menu div h1 {
    font-size: 2vw;
    margin-top: 5px;
}

#deleteTrabajador .modal-content {
    background-color: var(--color-Black);
    color: var(--color-Pear);
}

#deleteTrabajador .modal-header {
    background-color: var(--color-Black);
    color: var(--color-Pear);
}

#deleteTrabajador .btn-close {
    filter: invert(100%);
}

.formTrabajadores {
    background-color: #000000;
    height: 150vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#backgroundPreview{
    width: 100px;
    display: none;
    margin: auto;
    margin-top: 15px;
}

/* //////////////////////////////DETAILS//////////////////////////////////////////////////////////// */

.accesospage {
    height: 65vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.accesospage h1 {
    font-size: 2vw;
}

.accesospage div {
    margin-bottom: 1vw;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */

.dashboardTrabajador {
    height: 50vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboardTrabajador img{
    width: 100px;
}

/* FINAL CODIGO NUEVO ///////////////////////////////////////////////////////////////////////////// */
@media (max-width: 800px) {

    .custom-show {
        display: none !important;
    }

    .custom-hide {
        display: block !important;
    }


    .banner img {
        width: 40vw;
    }

    #drs-icon {
        width: 5vw;
    }

    #footer {
        text-align: center;
        position: fixed;
        bottom: 0;
        background-color: #000000;
        z-index: 1000;
        width: 100%;
        height: 4vh;
    }

    #footer a {
        text-decoration: none;
        color: #7D99B2;
    }

    /* ///////////////////////////////////////////////////////////////////////// */


    .page_1 {
        background-color: #000000;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .card-welcome {
        box-shadow: 2px 2px 1px #7D99B2;
        background-color: #C2E150;
        border-radius: 20px;
        color: #000000;
        height: 20vh;
        width: 50vw;
        cursor: pointer;
        transform: translateY(20vh);
    }

    .card-welcome:active {
        box-shadow: 0 0 0px #7D99B2;
        /* Reducir sombra al hacer clic */
        transform: translate(.2vw, 21vh);
    }

    #agenda-design {
        width: 20vw;
    }

    /* //////////////////////////////////////////////////////////////////////// */

    .page_2 {
        background-color: #000000;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .card-login {
        height: 50vh;
        width: 80vw;
        transform: translateY(10vh);
    }

    /* //////////////////////////////////////////////////////////////////////// */


    .page_3 {
        background-color: #000000;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .card-register {
        height: 50vh;
        width: 80vw;
        transform: translateY(00vh);
    }


    /* //////////////////////////////////////////////////////////////////////// */

    .page_4 {
        background-color: #000000;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .dashboard-menu a {
        text-decoration: none;

    }

    .dashboard-menu div {
        display: flex;
        justify-content: center;
        box-shadow: 2px 2px 1px #7D99B2;
        background-color: #C2E150;
        border-radius: 20px;
        color: #000000;
        width: 60vw;
        cursor: pointer;
        transform: translateY(0vh);
        margin-bottom: 5vw;
    }

    .dashboard-menu div h1 {
        font-size: 5vw;
    }

    /* //////////////////////////////////////////////////////////////////////// */


    .page_5 {
        height: 100vh;
        width: 100%;
    }

    .page_5 h1 {
        font-size: 5vw;
    }

    /* //////////////////////////////////////////////////////////////////////// */
    .dashboard-menu-turnos a {
        text-decoration: none;

    }

    .dashboard-menu-turnos div {
        display: flex;
        justify-content: center;
        box-shadow: 2px 2px 1px #FFFFFF;
        background-color: #7D99B2;
        border-radius: 20px;
        color: #000000;
        width: 60vw;
        cursor: pointer;
        transform: translateY(0vh);
        margin-bottom: 5vw;
    }

    .dashboard-menu-turnos div h1 {
        font-size: 5vw;
    }

    .darturnospage {
        height: 70vh;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .darPageAll {
        margin-top: -20vh;
    }

    .darturnospage div {
        margin-bottom: 1vh;
    }

    .input-text {
        display: flex;
        justify-content: center;
        margin-bottom: 0vh;
    }

    .card-link {
        padding: 5vw;
        height: 10vh;
        width: 80vw;
        text-align: center;
        box-shadow: -2px 2px 2px #7D99B2;
        background-color: #C2E150;
        border-radius: 20px;
        color: #000000;
    }

    .DisponibilidadTable {
        text-align: center;
        display: flex;
        justify-content: center;
        height: 70vh;
        width: 100%;
    }

    .DisponibilidadTable2 {
        text-align: center;

    }

    .buttonsCel {
        margin-top: 5vh;
    }

    /* ////////////////////////////////////////////////////////////////////////// */


    .Disponibilidadform1 {
        text-align: center;
        height: 100vh;
        width: 100%;
        font-size: 3vw;
        justify-content: center;
    }

    .Disponibilidadform1 div {
        display: flex;
        justify-content: center;
        margin-bottom: 1vw;
    }

    .form1 {
        background-color: #000000;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .DisponibilidadTodasForm {
        text-align: center;
        box-shadow: -2px 2px 2px white;
        margin-top: 7px;
        margin-left: 5px;
        background-color: #7D99B2;
        color: #000000;
        margin-bottom: 1vw;
    }

    .DisponibilidadTodasForm td select {
        display: inline-block;
        margin-right: 5px;
        /* Espacio opcional entre los selectores */
        margin-bottom: 5px;
        /* Espacio opcional entre los selectores */
    }

    .LinkCaducado {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .createClienteTurno {
        height: 70vh;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .Page_10 {
        height: 70vh;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }


}